<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Lit", suffix: " Admin" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="flex flex-col h-full pt-32 bg-gray-100">
    <header class="fixed top-0 left-0 right-0 z-30 shadow">
      <div class="text-white bg-yellow-600">
        <div class="container relative flex justify-end w-full max-w-5xl px-4 py-1 mx-auto sm:px-0">
          <div class="">
            <div x-data="{ open: false }" @keydown.escape="open = false" @click.away="open = false" class="relative inline-block text-left">
              <div>
                <button @click="open = !open" class="flex items-center text-sm text-white hover:text-gray-100 focus:outline-none focus:text-gray-100">
                  andreas@codered.se
                </button>
              </div>

              <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-56 mt-2 shadow-lg origin-top-right rounded-md" style="display: none;">
                <div class="bg-white rounded-md shadow-xs">
                  <div class="py-1" role="menu">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 leading-5 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">Account settings</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 leading-5 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">Support</a>
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 leading-5 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">License</a>
                    <form method="POST" action="#">
                      <button type="submit" class="block w-full px-4 py-2 text-sm text-left text-gray-700 leading-5 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">
                        Sign out
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white">
        <div class="container flex items-center justify-start w-full max-w-5xl px-4 mx-auto sm:px-0">
          <a href="#" class="text-2xl font-extrabold text-orange-600">Lit<span class="text-gray-800">Admin</span></a>

          <div class="py-3 ml-8 space-y-2" role="menu">
            <!-- MENU ITEMS FOR DESKTOP SCREENS -->
            <a href="#" class="px-2 py-3 font-semibold text-gray-800 border-b-2 border-orange-600">Posts</a>
            <a href="#" class="px-2 py-3 font-semibold text-gray-600 border-b border-transparent">Posts</a>
            <a href="#" class="px-2 py-3 font-semibold text-gray-600 border-b border-transparent">Posts</a>
          </div>

          <div class="inline-flex md:hidden" x-data="{ open: false }">
            <button class="flex-none px-2 btn btn-link btn-sm" @click="open = true">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
                >
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
              </svg>
              <span class="sr-only">Open Menu</span>
            </button>
            <div class="absolute top-0 left-0 right-0 z-50 flex flex-col p-2 pb-4 m-2 bg-white rounded shadow space-y-3" x-show.transition="open" @click.away="open = false" x-cloak>
              <button class="self-end flex-none px-2 ml-2 btn btn-link btn-icon" @click="open = false">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  aria-hidden="true"
                  >
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
                <span class="sr-only">Close Menu</span>
              </button>
              <%= link "Home", to: Routes.page_path(@conn, :index), class: "btn btn-link w-full" %>
              <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "btn btn-link w-full" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </header>

    <%= Lit.FlashView.render("_flash_messages.html", assigns) %>
    <%= @inner_content %>

    <footer class="py-6 mt-auto text-gray-600 bg-gray-800 footer">
      <div class="container max-w-6xl px-4 mx-auto text-center">
        <a href="#" class="text-2xl font-extrabold text-orange-600">Lit<span class="text-gray-400">Admin</span></a>
      </div>
    </footer>
  </body>
</html>
