<html>
  <head>
    <title>Admin</title>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body class="bg-gray-200 <%= Lit.PageView.body_classes(@conn) %>">
    <header class="z-30 w-full px-2 py-2 bg-white shadow sm:px-4">
      <div class="container flex items-center justify-between mx-auto">
        <div class="flex items-center space-x-3">
          <a href="/" title="Admin Page" class="flex items-center mr-2 text-2xl font-bold text-gray-900">
            <span class="text-primary">Lit</span>Admin
          </a>
          <div class="hidden md:inline-flex space-x-1">
            <!-- nav links here -->
          </div>
        </div>
        <div class="flex items-center space-x-3">
          <a href="/" class="btn btn-sm btn-icon btn-link">user@example.com</a>
          <a href="/" class="btn btn-sm btn-icon btn-link">Logout</a>
        </div>
      </div>
    </header>

    <%= Lit.FlashView.render("_flash_messages.html", assigns) %>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
